doctype
html
    head
        title SignSquare
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        link(href="http://fonts.googleapis.com/css?family=Lato:300,100,400" rel="stylesheet" type="text/css")
        link(href="/css/bootstrap.css" rel="stylesheet")
        link(href="/css/ss.css" rel="stylesheet")
    body
        header
            .wrapper
                .logo
                    .logo-text SignSquare
        .content
            section.intro
                .wrapper
                    .container-fluid
                        .parent
                            .center-content
                                .intro-line-main One stop solution for all large format prints
            section.about
                .wrapper
                    .container-fluid
                        .block-title About SignSquare
                        .row
                            .col-md-6.col-md-push-6
                                .text.mb20 Sign Square is leading in providing the VM services for Events, advertising and design media for indoor- outdoor Signage / Sign solutions and brand management, comprising of in-house Solvent Flex / Vinyl Printing, Eco-solvent flex & Vinyls, over laminations and have experts for ACP Cladding, LED signages and all type of fabrication.
                                blockquote To achieve perfection of growth our way is not of soft grass, it’s a mountain path with lots of work of hardships. But it goes upward, forward towards the sun, which ultimately is what we are seeking for GROWTH.
                            .col-md-6.col-md-pull-6.text-center
                                img.print-machine.img-responsive(src="/imgs/printer.jpg")
            section.services
                .wrapper
                    .container-fluid
                        .block-title Services
                        .row
                            .col-md-4
                            .col-md-4
                            .col-md-4
            section.product.acrylic-raised-letters
                .wrapper
                    .container-fluid
                        .title Acrylic Raised Letters
            section.product.acrylic-directional-signage
                .wrapper
                    .container-fluid
                        .title Acrylic Directional signage
            section.product.backlit-signages
                .wrapper
                    .container-fluid
                        .title Backlit Signages
            section.product.inshop-branding
                .wrapper
                    .container-fluid
                        .title In-shop Branding
            section.product.led-boards
                .wrapper
                    .container-fluid
                        .title LED Boards
            section.product.led-letters
                .wrapper
                    .container-fluid
                        .title LED Letters
            section.product.led-Running-boards
                .wrapper
                    .container-fluid
                        .title LED Running Boards
            section.product.reflective-signages
                .wrapper
                    .container-fluid
                        .title Reflective Signages
            section.product.road-signages
                .wrapper
                    .container-fluid
                        .title Road Signages
            section.product.sunboard-boxes
                .wrapper
                    .container-fluid
                        .title Sunboard Boxes
            section.product.sunboard-letters
                .wrapper
                    .container-fluid
                        .title Sunboard Letters
            section.product.building-wrap-with-vinyl
                .wrapper
                    .container-fluid
                        .title Building Wrap With Vinyl
            section.product.vehicle-wrap-with-vinyl
                .wrapper
                    .container-fluid
                        .title Vehicle Wrap With Vinyl
            section.product.vinyl-cut-letters
                .wrapper
                    .container-fluid
                        .title Vinyl Cut Letters
            section.product.corporate-events
                .wrapper
                    .container-fluid
                        .title Corporate Events
            section.product.canopies
                .wrapper
                    .container-fluid
                        .title Canopies
            section.product.hoarding-structures
                .wrapper
                    .container-fluid
                        .title Hoarding Structures